/**
 * Font 
 */
body{
    font-family: "Lato",sans-serif; ;
}
/* Top navigation*/
.navbar-default {
    background-color: var( --primary );
}

.menu-account li a {
    display: flex;
    color: white;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
}
.menu-account i {
    font-size: 33px;
    color: #fff;
    padding-right: 8px;
}
/* Header*/

.region-header {
    background-color: #FFF3E7 !important;
    padding: 10px 0 10px 0;
}

.path-frontpage .region-header .menu-catalog>.menu__item>.menu__link {
    color: #484A49;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    align-items: center;
}

.region-header .logo {
    padding-right: 115px;
}

.commerce-product--catalog__image {
    background-color: #fff !important;
}

.commerce-product--catalog__image .field--item{
    padding: 43px;
}
.commerce-product--catalog {
    margin: 15px auto;
    max-width: 370px;
    border-bottom: 0;
}
.commerce-product--catalog .button{
    padding: 10px 40px 7px 40px;
    margin-top: 16px;
    border: 0;
}

.featured-products h2{
    color: var(--dark) !important;
    font-weight: 700;
    text-transform: uppercase !important;
    font-size: 52px;
}
.commerce-product--catalog .field--item{
    font-weight: 600;
    color: primary;
    line-height: 37px;
    font-size: 28px;
    text-align: center;
}
.commerce-product--catalog .field--name-price{
    padding-top: 8px;
    color: var(--primary);
}
.commerce-product--catalog__info .field--name-quantity{
    display: none !important;
}
.btn-primary {
    border: 0 !important;
}
.button--primary {
    background-color: var(--primary) !important;
}
.commerce-product--catalog__info {
    flex-direction: column;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    border-top: 2px solid white;
    font-size: 18px;
    transition: all .4s ease;
}
.menu-catalog>.menu__item>.menu__link {
    color: #484A49;
}
.menu-catalog .is-active{
    color: var(--primary) !important;
}
/* Footer */
.footer {
    background-color: #FFF3E7 !important;
}
.footer .menu-catalog>.menu__item>.menu__link{
    text-transform: lowercase !important;
}
.footer .menu>li>a {
    font-size: 18px;
    color: #484A49;
}
.footer .block-title{
    color: var(--primary) !important;
}
.footer--contents>nav {
    margin-left: 10%;
}
.footer #block-signuptoreceivenews {
    margin-left: 100px;
}
.footer .menu-footer__item>a{
    color: var(--primary) !important;
    font-weight: 600;
}
.footer--contents h2{
    color: var(--primary) !important;
    font-weight: 600;
}
.glyph__circled {
    color: var(--primary) !important;
}

.footer .form-item label{
    display: none;
}

.well-primary {
    background: linear-gradient(90deg, #F9820B 36.66%, rgba(249, 130, 11, 0.6) 100%) !important;
}

/** Quantity */
.commerce-order-item-add-to-cart-form {
    display: flex;
    align-items: center;
}
.commerce-order-item-add-to-cart-form .field--name-quantity {
    display: block;
    float: left;
    padding-right: 30px;
    margin: 0;

}
.commerce-order-item-add-to-cart-form #edit-actions{
    float: right;
}
.commerce-order-item-add-to-cart-form .field--name-quantity label {
    display: none;
}

aside#cart-offcanvas>div {
    background-color: #fff !important;
}

aside#cart-offcanvas .cart-block--offcanvas-cart-table__price{
    color: var(--primary);
    font-size: 20px;
    font-weight: 700;
    line-height: 37px;
}
aside#cart-offcanvas .cart-block--offcanvas-contents__links {
    background-color: var(--primary);
}

aside#cart-offcanvas .cart-block--offcanvas-contents__links>a{
    color: #fff !important;
}

/* Breadcrumb */
.breadcrumb>li>a{
    color: var(--dark);
    font-size: 24px;
}
.breadcrumb>li+li:before {
    content: "| ";
    font-size: 24px;
    padding: 0 5px;
    color: var(--dark);
}
.breadcrumb li:last-child>a{
    color: var(--primary) !important;
}